@model CarBook.Dto.Dtos.ReservationDto.CreateReservationDto
<section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-12 featured-top">
				<div class="row no-gutters">
					<div class="col-md-6 d-flex align-items-center">
						<form action="/Car/Reservation" class="request-form ftco-animate bg-primary">
							<h2>Gjør din reise</h2>
							
							<div class="form-group">
								<label for="" class="label">Hentested</label>
								@Html.DropDownListFor(x => x.PickUpLocationId, (List<SelectListItem>)ViewBag.LocationList, new { @class = "form-control", @placeholder = "By, flyplass, stasjon, etc" })
							</div>
							<div class="form-group">
								<input type="submit" value="Lei en bil nå" class="btn btn-secondary py-3 px-4">
							</div>
						</form>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<div class="services-wrap rounded-right w-100">
							<h3 class="heading-section mb-4">En bedre måte å leie din perfekte bil</h3>
							<div class="row d-flex mb-4">
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
										<div class="text w-100">
											<h3 class="heading mb-2">Velg hentested</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
										<div class="text w-100">
											<h3 class="heading mb-2">Velg det beste tilbudet</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
										<div class="text w-100">
											<h3 class="heading mb-2">Reserver leiebilen din</h3>
										</div>
									</div>
								</div>
							</div>
							<p><a href="#" class="btn btn-primary py-3 px-4">Reserver din perfekte bil</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>