@model System.Collections.Generic.List<CarBook.Dto.Dtos.CommentDto.CommentDto>?


<h3 class="mb-5">@Model!.Count Kommentarer</h3>
<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="comment-body">
                <h3>@item.Name</h3>
                <div class="meta">@item.CreatedAt.ToShortDateString()</div>
                <p>@item.Message</p>
                <p><a href="#" class="reply">Svar</a></p>
            </div>
        </li>  
    } 
</ul>

