@model List<CarBook.Dto.Dtos.CarFeatureDto.GetCarFeatureDto>?

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}
 

            <div class="page-content">
                <div class="container-fluid">


<div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Datatables</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">BilList</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>  

<div class="row">  
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Bil</h4>
                <p class="card-subtitle mb-4"></p>

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                       <tr>
                           <th>Id</th>
                                <th>Merke</th>
                                <th>Funksjoner</th>
                                 <th>Tilgjengelig</th>
                                <th>Rediger</th>
                                <th>Slett</th>
                           <th>Detaljer</th>
                            </tr>
                    </thead>

                    <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.CarFeatureId</td>
                                <td>@item.CarModel</td>
                                <td>@item.FeatureName</td>
                                <td>@item.IsAvailable</td>

                                <td><a href="/Admin/AdminCarFeature/Update/@item.CarFeatureId" class="btn btn-outline-warning"> <i class="mdi mdi-account-edit"></i> Rediger</a></td>
                                <td><a href="/Admin/AdminCarFeature/Delete/@item.CarFeatureId" class="btn btn-outline-danger" onclick="deleteItemWarning()"><i class="mdi mdi-delete"></i> Slett</a> </td>
                                <td><a href="/Car/Details/@item.CarId" class="btn btn-outline-primary"><i class="mdi mdi-eye"></i> Detaljer</a></td>
                            </tr>

                            <script>

        function deleteItemWarning() {
        var confirmDelete = confirm("Advarsel! Denne handlingen vil slette elementet permanent. Er du sikker på at du vil fortsette?");
        if (confirmDelete) {
            // Brukeren bekreftet sletting, slettingsprosessen kan fortsette.
            window.location.href = "/Admin/AdminCarFeature/Delete/@item.CarFeatureId";
        }
    }
            </script>
                        } 
                    }
                    
                    else
                    {
                        <tr>
                            <td class="alert-warning" colspan="3">Ingen data funnet</td>
                        </tr>
                    }
                   
                    </tbody>
                </table>
<a href="/Admin/AdminCarFeature/Create" class="btn btn-primary"> <i class="mdi mdi-plus"></i> Legg en ny BilFunksjon</a>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
</div>
            </div>
            
