@model List<CarBook.Dto.Dtos.FooterDto.FooterDto>

@foreach(var item in Model)
{
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">SkiCar<span>Rentals</span></a></h2>
                        <p>@item.Description</p>
                        
                        
                        @await Component.InvokeAsync("SocialMediaLayout", new { })
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Informasjon</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Om oss</a></li>
                            <li><a href="#" class="py-2 d-block">Tjenester</a></li>
                            <li><a href="#" class="py-2 d-block">Vilkår og betingelser</a></li>
                            <li><a href="#" class="py-2 d-block">Beste prisgaranti</a></li>
                            <li><a href="#" class="py-2 d-block">Personvern og informasjonskapsler</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Kundestøtte</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQ</a></li>
                            <li><a href="#" class="py-2 d-block">Betalingsalternativ</a></li>
                            <li><a href="#" class="py-2 d-block">Bookingtips</a></li>
                            <li><a href="#" class="py-2 d-block">Slik fungerer det</a></li>
                            <li><a href="#" class="py-2 d-block">Kontakt oss</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Har du spørsmål?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">@item.Address</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">@item.Phone</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@item.Email</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><!-- Kobling tilbake til Colorlib kan ikke fjernes. Malen er lisensiert under CC BY 3.0. -->
                        Opphavsrett &copy;<script>document.write(new Date().getFullYear());</script> Alle rettigheter reservert | Denne malen er laget med <i class="icon-heart color-danger" aria-hidden="true"></i> av <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Kobling tilbake til Colorlib kan ikke fjernes. Malen er lisensiert under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
}

