@{
    ViewBag.Title = "Index";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>City Reservation List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Bil Reservasjoner Liste</h2>
<table>
    <tr>
        <th>Bil</th>
        <th>Reservasjon Antall</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Count</td>
        </tr>
    }
</table>
</body>
</html>
