@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<!-- Grafik için bir yer belirliyoruz -->

<div style="float: left; width: 50%; height: 600px;">
    <div id="chartDiv1" style="width: 100%; height: 100%;"></div>
</div>
<div style="float: left; width: 50%; height: 600px;">
    <div id="revenueDailyChart" style="width: 100%; height: 100%;"></div>
</div>
<div style="float: left; width: 100%; height: 600px;">
    <div id="revenueChart" style="width: 100%; height: 100%;"></div>
</div>
    <div style="clear: both;"></div>



<script type="text/javascript">
        // Sayfa yüklendiğinde grafik oluşturmak için bu fonksiyonu çağırıyoruz
        google.charts.load('current', {'packages' : ['corechart'] });
        google.charts.setOnLoadCallback(DrawPieChart1);

        function DrawPieChart1(){
            // AJAX ile verileri alıyoruz (örnek olarak bir dizi kullanıyoruz)
            $.ajax({
                 type: "GET",
                 url: "/Admin/Chart/OrderChart/",
                 success: function(chartsdata) {
                   var jsonData = chartsdata.jsonlist;
                     console.log(jsonData);
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'name');
            data.addColumn('number','count');

           
            for (var i = 0; i < jsonData.length; i++){
                data.addRow([jsonData[i].name, jsonData[i].count]);
            }

            var options = {
                title: "Order Chart",
                is3D: true,
                position: "top",
                fontSize: "16px"
            };

         
            var chart = new google.visualization.PieChart(document.getElementById('chartDiv1'));
            chart.draw(data, options);
        }
    });
}

 google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart3);
        
        function drawChart3() {
            $.ajax({
                url: '/Admin/Chart/RevenueChart', 
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    var chartData = [['Months', 'Inntekt' , { role: 'style' }]];
                    for (var i = 0; i < data.months.length; i++) {
                        var randomColor = getRandomColor(); 
                         var monthIndex = data.months[i] - 1;
                        chartData.push([months[monthIndex], data.revenues[i], randomColor]);
                    }
        
                    var dataTable = google.visualization.arrayToDataTable(chartData);
        
                    var options = {
                        title: 'Månedlig inntekt',
                        hAxis: { title: 'Måneder', titleTextStyle: { color: '#333' } },
                        vAxis: { minValue: 0 }
                    };
        
                    var chart = new google.visualization.ColumnChart(document.getElementById('revenueChart'));
                    chart.draw(dataTable, options);
                }
            });
        }
    
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    
    
    google.charts.load('current', { 'packages': ['corechart'] });
     google.charts.setOnLoadCallback(drawChart2);
     
     function drawChart2() {
         $.ajax({
             url: '/Admin/Chart/RevenueDailyChart',
             type: 'GET',
             dataType: 'json',
             success: function (data) {
                 var daysOfWeek = ["Søndag", "Mandag", "Tirsdag", "Onsdag", "Torsdag", "Fredag","Lørdag"];
                 var chartData = [['DayOfWeek', 'Inntekt', { role: 'style' }]];
     
                 for (var i = 0; i < data.dayOfWeek.length; i++) {
                     var randomColor = getRandomColor();
                     var dayIndex = data.dayOfWeek[i];
                     chartData.push([daysOfWeek[dayIndex], data.revenues[i], randomColor]);
                 }
     
                 var dataTable = google.visualization.arrayToDataTable(chartData);
     
                 var options = {
                     title: 'Daglig inntekt',
                     hAxis: { title: 'Ukedag', titleTextStyle: { color: '#333' } },
                     vAxis: { minValue: 0 }
                 };
     
                 var chart = new google.visualization.ColumnChart(document.getElementById('revenueDailyChart'));
                 chart.draw(dataTable, options);
             }
         });
     }
     
     


    </script>
</body>
</html>

