<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="~/carbook-master/index.html">SkiCar<span>Rentals</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Meny
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/Default/Index" class="nav-link">Hjem</a></li>
                <li class="nav-item active"><a href="/About/Index" class="nav-link">Om oss</a></li>
                <li class="nav-item"><a href="/Service/Index" class="nav-link">Tjenester</a></li>
                <li class="nav-item"><a href="~/carbook-master/pricing.html" class="nav-link">Priser</a></li>
                <li class="nav-item"><a href="/Car/Index" class="nav-link">Biler</a></li>
                <li class="nav-item"><a href="~/carbook-master/blog.html" class="nav-link">Blogg</a></li>
                <li class="nav-item"><a href="/Contact/Index" class="nav-link">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>

