@model List<CarBook.Dto.Dtos.PricingDto.PricingDto>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="page-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Datatables</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Priser</li>
                        </ol>
                    </div>
                                
                </div>
            </div>
        </div>  

        <div class="row">  
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Priser</h4>
                        <p class="card-subtitle mb-4"></p>

                        <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Navn</th>
                                <th>Rediger</th>
                                <th>Slett</th>
                                <th>Detaljer</th>
                                
                            </tr>
                            </thead>

                            <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.PricingId</td>
                                    <td>@item.Name</td>
                                    <td><a href="/Admin/AdminPricing/Update/@item.PricingId" class="btn btn-outline-warning"> <i class="mdi mdi-account-edit"></i> Rediger</a></td>
                                    <td><a href="/Admin/AdminPricing/Delete/@item.PricingId" class="btn btn-outline-danger" onclick="deleteItemWarning()"><i class="mdi mdi-delete"></i> Slett</a> </td>
                                    <td><a href="#" class="btn btn-outline-primary"><i class="mdi mdi-eye"></i> Detaljer</a></td>
                                </tr>
                                <script>
                function deleteItemWarning() {
                var confirmDelete = confirm("Advarsel! Denne handlingen vil slette elementet permanent. Er du sikker på at du vil fortsette?");
                if (confirmDelete) {
            //  Brukeren bekreftet sletting, slettingsprosessen kan fortsette.
                window.location.href = "/Admin/AdminPricing/Delete/@item.PricingId";
                  }
                  }
                    </script>
                            }
                    
                            </tbody>
                        </table>
                        <a href="/Admin/AdminPricing/Create" class="btn btn-primary"> <i class="mdi mdi-plus"></i> Legg en ny Prise</a>
                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
    </div>
    </div>