<div class="vertical-menu">

    <div data-simplebar class="h-100">

<div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="/Admin/AdminDashboard/Index" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCar/Index" class="waves-effect"><i class="fas fa-car"></i><span>Bil</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminFeature/Index" class="waves-effect"><i class="feather-truck"></i><span>Funksjoner</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCarFeature/Index" class="waves-effect"><i class="feather-check"></i><span>BilFunksjoner</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBrand/Index" class="waves-effect"><i class="feather-activity"></i><span>Merke</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCarCategory/Index" class="waves-effect"><i class="feather-folder"></i><span>BilKategori</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBlog/Index" class="waves-effect"><i class="feather-folder"></i><span>Blogg</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBlogCategory/Index" class="waves-effect"><i class="fas fa-address-card"></i><span>BloggKategori</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminTestimonial/Index" class="waves-effect"><i class="fas fa-people-carry"></i><span>Referanser</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminTagCloud/Index" class="waves-effect"><i class="fas fa-tags"></i><span>Ordskyer</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminService/Index" class="waves-effect"><i class="fas fa-servicestack"></i><span>Tjenester</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminLocation/Index" class="waves-effect"><i class="fas fa-location-arrow"></i><span>Lokasjoner</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAbout/Index" class="waves-effect"><i class="fas fa-info-circle"></i><span>Om Oss</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminFooter/Index" class="waves-effect"><i class="fas fa-file-invoice"></i><span>Bunntekst</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminAuthor/Index" class="waves-effect"><i class="fas fa-book-reader"></i><span>Forfatter</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminBanner/Index" class="waves-effect"><i class="fas fa-envelope-open"></i><span>Banner</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminPricing/Index" class="waves-effect"><i class="fas fa-money-bill"></i><span>Priser</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminCarPricing/Index" class="waves-effect"><i class="feather-dollar-sign"></i><span>BilPriser</span></a>
                </li>
                <li>
                    <a href="/Admin/AdminSocialMedia/Index" class="waves-effect"><i class="feather-share-2"></i><span>Sosiale Medier</span></a>
                <li>
                    <a href="/Admin/Calender/Index" class="waves-effect"><i class="feather-calendar"></i><span>Kalender</span></a>
                </li>
                <li>
                    <a href="/Admin/Chart/Index2" class="waves-effect"><i class="feather feather-pie-chart"></i><span>Chart</span></a>
                </li>
                 <li>
                    <a href="/Admin/Chart/Index" class="waves-effect"><i class="feather feather-bar-chart-2"></i><span>Bil Reservasjon Liste</span></a>
                </li>
            </ul>
        </div>

    </div>
</div>