@model System.Collections.Generic.List<CarBook.Dto.Dtos.BlogCategory.BlogCategoryCountDto>?

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Bil Kategorier</h3>
        @foreach(var blogCategory in Model)
        {
            <li><a href="#">@blogCategory.CategoryName<span><strong>(@blogCategory.Count)</strong></span></a></li>
        }
    </div>
</div>